/* Reset y configuración base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

body {
    background-color: #212121 !important;
}

a {
    text-decoration: none !important;
    color: #fff !important;
}

/* Encabezado y navegación */
.blurred-header {
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 1rem;
    background-color: rgba(33, 33, 33, 0.8);
    color: #fff;
}

.blurred-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, 0.8);
    backdrop-filter: blur(10px);
    z-index: -1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
}

.nav-container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-right: auto;
}

.nav-container li {
    margin: 0 10px;
}

.nav-container a {
    text-decoration: none;
    color: #fff;
}

.menu-toggle {
    display: none;
}

.menu-toggle2 {
    display: none;
}

.nav-container li:hover {
    font-weight: bold;
}

main {
    padding-top: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    color: #fff !important;
    text-align: justify;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Tarjetas de contenido */
.grid {
    display: grid;
    gap: 20px;
}

.card {
    color: #fff !important;
    background-color: #212121 !important;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    height: 100%;
    display: flex;
    flex-direction: row; /* Ajusta la dirección del contenido en vista normal */
}

.card img {
    height: 250px;
    width: auto;
    object-fit: cover;
    float: left;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.card-body {
    display: flex;
    align-items: center;
    padding: 20px;
}

.card-content {
    flex: 1;
    padding-left: 20px;
}

.card-content h5 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 1.1rem;
    line-height: 1.4;
    margin-bottom: 15px;
    text-align: justify;
}

.card p {
    color: #fff;
}

.card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #212121 !important;
    color: #fff;
    padding-top: 20px;
    bottom: 0;
    text-align: center;
}

/* Responsividad */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr !important;
    }
    
    .nav-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgba(33, 33, 33, 0.8);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 50px;
        left: 0;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .nav-container.active {
        opacity: 1;
        transform: translateY(0);
    }

    .nav-container li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle2{
        display: none;
        color: red;
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    /* Ajustes para tarjetas en vista móvil */
    .card {
        flex-direction: column; /* Cambia la dirección del contenido a columna en dispositivos pequeños */
    }

    .card-actions .card-text img {
        margin-left: 1rem;
    }

    .card img {
        width: 100%;
        height: auto;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card-body {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .card-content {
        padding-left: 0;
        padding-top: 10px;
    }

    .card-content h5 {
        font-size: 1.2rem;
    }

    .card-content p {
        font-size: 1rem;
    }

    .card button {
        width: 100%;
        padding: 10px;
    }
}

/* Botones estilizados */
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.button {
    --text-stroke-color: #fff;
    --fs-size: 1em;
    letter-spacing: 5px;
    text-decoration: none;
    font-size: var(--fs-size);
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    background-color: #212121;
    width: 0%;
    height: 2rem;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    font-size: 10px;
    -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 25px var(--animation-color));
}

@keyframes show {
    from{
        opacity: 0;
        scale: 25%;
    } 
    to{
        opacity: 1;
        scale: 100%;
    }
  }

  .card{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
  }

  .card-actions {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.card-actions .btn {
    margin-right: 1rem;
}

.card-actions .card-text img {
    width: 24px;
    height: auto;
    border-radius: 0;
}